# Utility WhatsApp review-request template.
# {{1}} customer name, {{2}} business name, {{3}} ReviewRequest token.
# Button URL: https://growwmatics.com/review/{{3}}
# When this is set, new review sends use it. Leave it unset to keep the
# legacy marketing template (TWILIO_TEMPLATE_REVIEW_REQUEST, {{3}} = Place ID).
TWILIO_TEMPLATE_REVIEW_REQUEST_UTILITY=HX5ac75bff43238d0c253a1dd15cca746c
